services:
  bedrock-server:
    build: ./server
    volumes:
      - current-world:/server/bedrock-server/worlds
      - ${BACKUP_PATH:-./backups}:/backups
    networks:
      bedrock:
    environment:
      - SERVER_NAME=${SERVER_NAME:-Dedicated\ Server}
      - GAMEMODE=${GAMEMODE:-survival}
      - FORCE_GAMEMODE=${FORCE_GAMEMODE:-false}
      - DIFFICULTY=${DIFFICULTY:-normal}
      - ALLOW_CHEATS=${ALLOW_CHEATS:-true}
      - MAX_PLAYER=${MAX_PLAYER:-10}
      - ONLINE_MODE=${ONLINE_MODE:-true}
      - ALLOW_LIST=${ALLOW_LIST:-false}
      - SERVER_PORT=${SERVER_PORT:-19132}
      - SERVER_PORTV6=${SERVER_PORTV6:-19133}
      - ENABLE_LAN_VISIBILITY=${ENABLE_LAN_VISIBILITY:-true}
      - VIEW_DISTANCE=${VIEW_DISTANCE:-32}
  create-backups:
    build: ./backup-manager
    volumes:
      - current-world:/current
      - ${BACKUP_PATH:-./backups}:/backups
    environment:
      - BACKUP_PATH=${BACKUP_MNT_PATH:-/backups}
      - CURRENT_WORLD_PATH=${CURRENT_MNT_PATH:-/current}
      - BACKUP_TIME=${BACKUP_TIME:-0.10}
      - NUM_OF_BACKUPS=${NUM_OF_BACKUPS:-15}

volumes:
  current-world:
    name: current-world

networks:
  bedrock:
    name: bedrock
    driver: macvlan
    driver_opts:
      parent: eno1
    ipam:
      config:
        - subnet: '192.168.1.0/24'
          ip_range: '192.168.0.64/26'
          gateway: '192.168.1.1'
